<div class="menu_simple">
    <ul>
        <li id="lihead">Chức năng</li>
        <li><a href="/quan-li-home">Chốt danh sách đặt cơm</a></li>
        <li><a href="/quan-li-nguoi-dat">Quản lý người đặt</a></li>
        <li><a href="/quan-li-mon-an">Quản lý món ăn</a></li>
        <li><a href="/doi-mat-khau">Đổi mật khẩu quản lý</a></li>
        <li><a href="/quan-li">Thoát</a></li>
    </ul>
</div>
<div id="divdoimk">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="mkcu">Mật khẩu cũ</label>
            <div class="col-sm-3">
                <input class="form-control" id="mkcu" type="password" placeholder="Nhập mật khẩu cũ" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="mkmoi">Mật khẩu mới</label>
            <div class="col-sm-3">
                <input class="form-control" id="mkmoi" type="password" placeholder="Nhập mật khẩu mới" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="xacnhan">Xác nhận</label>
            <div class="col-sm-2">
                <input class="form-control" id="xacnhan" type="password"  />
            </div>
        </div>
        <button class="btn btn-success col-sm-offset-2" type="button">Đổi mật khẩu</button>
    </form>
</div>