<div class="menu_simple">
    <ul>
        <li id="lihead">Chức năng</li>
        <li><a href="/quan-li-home">Chốt danh sách đặt cơm</a></li>
        <li><a href="/quan-li-nguoi-dat">Quản lý người đặt</a></li>
        <li><a href="/quan-li-mon-an">Quản lý món ăn</a></li>
        <li><a href="/doi-mat-khau">Đổi mật khẩu quản lý</a></li>
        <li><a href="/quan-li">Thoát</a></li>
    </ul>
</div>
<div id="divngdat">
    <form class="form-inline" role="form" >
        <button data-target="#themmoitv" data-toggle="modal" class="btn btn-primary">Thêm mới</button>
        <input class="form-control" type="text" placeholder="Tìm theo tên" ng-model="searchName"/>
        <input class="form-control" type="submit" value="Hiện mục bị khóa" />      
    </form> 
    <div id="themmoitv" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thêm mới thành viên</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="hoten">Tên</label>
                            <div class="col-sm-3">
                                <input class="form-control" id="hoten" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="tiengui">Tiền gửi</label>
                            <div class="col-sm-3">
                                <input class="form-control" id="tiengui" type="text" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Ghi nhận</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
    
    <br />
    <div class="dataTables_wrapper dataTables_paginate">
        <table ng-table="tableorderperson"  class="table table-condensed table-bordered tuzz-table">
            <tr ng-repeat="person in $data| filter:searchName">
                <td data-title="'Tên'" sortable="'hoten'" style="width: 30px">{{person.hoten}}</td>
                <td data-title="'Tiền gửi'" sortable="'tiengui'" style="width: 30px">{{person.tiengui}}</td>
                <td data-title="'Nút chọn'" style="width: 30px">
                    <form class="form-inline" role="form">
                        <button data-target="#suatv" data-toggle="modal" class="btn btn-primary">Sửa</button>
                        <input class="form-control" type="submit" value="Khóa" />
                        <input class="form-control" type="submit" value="Mở khóa" />
                    </form>
                    <div id="suatv" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Sửa thành viên</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3" for="hoten">Tên</label>
                                            <div class="col-sm-3">
                                                <input class="form-control" id="hoten" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-3" for="tiengui">Tiền gửi</label>
                                            <div class="col-sm-3">
                                                <input class="form-control" id="tiengui" type="text" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 left" for="lydo">Lý do chỉnh sửa</label>
                                            <div class="col-sm-3">
                                                <input class="form-control" id="lydo" type="text" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">Ghi nhận</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

